.header {
  padding-top: 60px;
  background: url(../images/BG.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.header .container {
  padding: 0 10px;
  max-width: 1760px;
  margin: 0 auto;
}
.header .container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.header .container .header__menu .menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .header__menu .menu__items .menu__item:nth-child(2) {
  margin: 0 40px;
}
.header .container .header__menu .menu__items .menu__item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header .container .header__menu .header__account-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .container .header__wrapper-items {
  margin-top: 200px;
}
.header .container .header__wrapper-items .social__text {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.header .container .header__wrapper-items .social__item {
  margin-top: 24px;
  max-width: 24px;
  max-height: 24px;
}